# Go
backend/bin/
backend/data/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Android
*.iml
.gradle/
.idea/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
.github/workflows/extract-keystore.yml
android/app/build/
android/.gradle/
android/local.properties
android/app/release/
backend/internal/license/android/app/build/
backend/internal/license/android/.gradle/

# IDE
.vscode/
*.swp
*.swo
*~

# Runtime
*.db
*.db-journal
*.db-wal
*.log
/data/
/cache/

# Build artifacts
backend/web/dist/

# OS
.DS_Store
Thumbs.db
512/
m3u.txt
m3u_回看.txt
iptv.m3u
512.zip
backend/mediaplayer*
backend/web/download/*/*.apk
android/app/build/outputs/apk/release/*.apk
backend/internal/license/*.apk
test.txt
*.m3u
!android/app/src/main/jniLibs/*/*.so

# other
other
android/original-release-files
android/keystore.env
android/release.keystore
docs
*.strm

# 忽略打包工具目录下的压缩包和解压文件
backend/linux-通用修改app名称工具/jre/
backend/linux-通用修改app名称工具/linux_tools/
backend/linux-通用修改app名称工具/temp_unpacked/
backend/linux-通用修改app名称工具/*.tar.gz
backend/linux-通用修改app名称工具/*.jar


